.git_fork {
    display: none;
}
.git_repositories {
    display: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    margin: 0;
    padding: 0;
    height: 1000px;
}

.vertical-menu {
width: 200px;
}

.vertical-menu a {
background-color: #eee;
color: black;
display: block;
padding: 12px;
text-decoration: none;
}

.vertical-menu a:hover {
background-color: #ccc;
}

.vertical-menu a.active {
background-color: #04AA6D;
color: white;
}
.nav-item {
    margin-bottom: 2px;
    border:solid salmon 1.2px;
}
.tutorials {
    background-color: tomato;
}
