@media (min-width: 750px) {
    body {
        background-color: lightblue;
    }
    .vertical-menu {
        position: fixed;
        top: 1px;
        z-index: 2;
    }
    .git_fork {
        position: relative;
    }

    .heading {
        margin-left: 25%;
        margin-right: 5%;
        text-align: center;
    }
 
    }