img{
    width: 50%;
    height: 10%;
    max-height: 10%;
}
body{text-align: center;}
p{
    background-color: wheat;
    font-size: larger;
    padding: 10px;
}
.fixed {
    position: fixed;
    top: 1px;
    background-color: tomato;
    font-size: 50px;
    border-radius: 15px;
}
.fixed>a {
    text-decoration: none;
}
.line {
    padding: 30px;
    width: 100%;
    background-color: blue;
    margin-bottom: 50px;
    margin-top: 50px;
}
input{
    width: fit-content;
    padding: 20px;
}